<div class="container">
  <div>
    <button type="button" class="btn btn-primary" (click)="goBackToPreviousPage()">Go Back</button>
  </div>
  <br>
  <div class="col-7 col-lg-9 d-lg-flex flex-direction-row">
      <input type="text" class="form-control normal-input" [(ngModel)]="search.name" placeholder="Start Typing the country's name...">
    </div>
</div>
<br>
<div class="container">
    <div class="row">
      <div class="col display-3 d-flex justify-content-center text-primary" style="font-weight:bolder;">
        {{title}}
      </div>
    </div>
  </div>
<div class="container" *ngIf="countries.length!=0">
  <div class="row">
   
        <app-country-core class="col-12 col-lg-4 card-padding" *ngFor='let c of countries| filterBy : search' [img]=c.flag [countryName]=c.name [capital]=c.capital [subregion]=c.subregion [population]=c.population ></app-country-core>
    
    
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center">
          <div class="text-danger" *ngIf="(countries | filterBy: search).length ===0 ">No country Found</div>
        </div>
      </div>
    </div>
    

